/* CSS file */
.controlsBar {
	fillAlphas: 1, 1;
	fillColors: #B5CBD0, #B5CBD0;
	paddingTop: 4;
	paddingRight: 4;
	paddingBottom: 4;
	paddingLeft: 4;
	cornerRadius: 0;
	horizontalGap: 4;
}
.undoButton {
	paddingLeft: 7;
	paddingRight: 7;
	icon : Embed(source="../assets/buttons/icons/undo_up.png");
	downIcon : Embed(source="../assets/buttons/icons/undo_up.png");
	disabledIcon : Embed(source="../assets/buttons/icons/undo_down.png");
}

.redoButton {
	paddingLeft: 7;
	paddingRight: 7;
	icon : Embed(source="../assets/buttons/icons/redo_up.png");
	downIcon : Embed(source="../assets/buttons/icons/redo_up.png");
	disabledIcon : Embed(source="../assets/buttons/icons/redo_down.png");
}
.controlsBarButton {
} 
.saveButton {
	fontFamily: "Arial";
	fontWeight: bold;
	fontSize: 11;
	paddingLeft: 10;
	paddingRight: 10;
}

.controlsBarVisibilityButton {
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 4;
	paddingBottom: 4;
	
	icon: Embed(source="../assets/controls_bar/visibility_off.png");
	selectedUpIcon: Embed(source="../assets/controls_bar/visibility_on.png");
	selectedOverIcon: Embed(source="../assets/controls_bar/visibility_on.png");
	selectedDownIcon: Embed(source="../assets/controls_bar/visibility_on.png");
}

.controlsBarFillsButton {
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 4;
	paddingBottom: 4;
	
	icon: Embed(source="../assets/controls_bar/fills_on.png");
	selectedUpIcon: Embed(source="../assets/controls_bar/fills_off.png");
	selectedOverIcon: Embed(source="../assets/controls_bar/fills_off.png");
	selectedDownIcon: Embed(source="../assets/controls_bar/fills_off.png");
}