.contextPanel {
	horizontalGap: 0;
}

.simpleContextPanel {
	backgroundColor: #000000;
	backgroundAlpha: 0.8;
	cornerRadius: 10;
	borderColor: #FFFFFF;
	borderThickness: 1;
	borderStyle: solid;
	paddingLeft: 7;
	paddingTop: 7;
	paddingRight: 7;
	paddingBottom: 7;
}

.contextPanelControls {
	paddingLeft: 7;
	paddingRight: 7;
	paddingTop:7;
	paddingBottom: 7;
	horizontalGap:6;
	cornerRadius: 10;
	backgroundImage: Embed("../assets/context_panel/context_panel_half_bg.png");
}

.contextButton {
	themeColor: #FFFFFF;
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	paddingTop: 6;
	paddingBottom: 6;
	paddingLeft: 7;
	paddingRight: 7;
	fontSize:11;
	fontWeight:normal;
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
}

.contextButtonSmall {
	themeColor: #FFFFFF;
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 7;
	paddingRight: 7;
	fontSize:11;
	fontWeight:normal;
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
}

.contextButtonReverse {
	themeColor: #FFFFFF;
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	paddingTop: 6;
	paddingBottom: 6;
	paddingLeft: 7;
	paddingRight: 7;
	fontSize:11;
	fontWeight:normal;
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpIcon: Embed("../assets/buttons/icons/one_way_direction_on.png");
	selectedDownIcon: Embed("../assets/buttons/icons/one_way_direction_on.png");
	selectedOverIcon: Embed("../assets/buttons/icons/one_way_direction_on.png");
	selectedDisabledIcon: Embed("../assets/buttons/icons/one_way_direction_on_disabled.png");
	upIcon: Embed("../assets/buttons/icons/one_way_direction_off.png");
	downIcon: Embed("../assets/buttons/icons/one_way_direction_off.png");
	overIcon: Embed("../assets/buttons/icons/one_way_direction_off.png");
	disabledIcon: Embed("../assets/buttons/icons/one_way_direction_off_disabled.png");
}

.contextButtonWayType {
	themeColor: #FFFFFF;
	color: #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	paddingTop: 6;
	paddingBottom: 6;
	paddingLeft: 7;
	paddingRight: 7;
	fontSize:11;
	fontWeight:normal;
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	icon: Embed(source='../assets/buttons/icons/two_way_direction.png');
	overIcon: Embed(source='../assets/buttons/icons/two_way_direction.png');
	disabledIcon: Embed(source='../assets/buttons/icons/two_way_direction.png');
	downIcon: Embed(source='../assets/buttons/icons/two_way_direction_active.png');
	selectedDownIcon: Embed(source='../assets/buttons/icons/two_way_direction_active.png');
	selectedUpIcon: Embed(source='../assets/buttons/icons/two_way_direction_active.png');
	selectedOverIcon: Embed(source='../assets/buttons/icons/two_way_direction_active.png');
}


.typeSelectorButton {
	paddingTop: 4;
	paddingLeft:0;
	paddingRight:6;
	fontWeight: normal;
	textAlign: right;
	color: #FFFFFF;
	upSkin : Embed(source="../assets/buttons/hint_panel/drop_down_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	overSkin: Embed(source="../assets/buttons/hint_panel/drop_down_over_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	downSkin: Embed(source="../assets/buttons/hint_panel/drop_down_down_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	disabledSkin: Embed(source="../assets/buttons/hint_panel/drop_down_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	selectedUpSkin : Embed(source="../assets/buttons/hint_panel/drop_down_selected_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	selectedOverSkin: Embed(source="../assets/buttons/hint_panel/drop_down_selected_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	selectedDownSkin: Embed(source="../assets/buttons/hint_panel/drop_down_selected_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	selectedDisabledSkin: Embed(source="../assets/buttons/hint_panel/drop_down_selected_bg.png", scaleGridLeft="11", scaleGridTop="30", scaleGridRight="12", scaleGridBottom="31");
	icon: Embed(source="../assets/buttons/icons/down_arrow.png");
}

.typeSelectorLabel {
	textAlign:center;
	fontSize: 11;
	fontFamily: "Arial";
}

.contextComboBox {
	backgroundColor: #000000;
	paddingLeft: 0;
	paddingRight:0;
	textAlign: left;
	paddingLeft:2;
	fontSize:11;
	disabledSkin: Embed(source="../assets/combo_box/combo_box_disabled.png",scaleGridLeft="4",scaleGridTop="13",scaleGridRight="64",scaleGridBottom="14");
	downSkin: Embed(source="../assets/combo_box/combo_box_down.png",scaleGridLeft="4",scaleGridTop="13",scaleGridRight="64",scaleGridBottom="14");
	overSkin: Embed(source="../assets/combo_box/combo_box_over.png",scaleGridLeft="4",scaleGridTop="13",scaleGridRight="64",scaleGridBottom="14");
	upSkin: Embed(source="../assets/combo_box/combo_box_up.png", scaleGridLeft="4", scaleGridTop="13", scaleGridRight="64", scaleGridBottom="14");
	editableDisabledSkin: Embed(source="../assets/combo_box/editable/combo_box_editable_disabled.png",scaleGridLeft="1",scaleGridTop="15",scaleGridRight="12",scaleGridBottom="17");
	editableDownSkin: Embed(source="../assets/combo_box/editable/combo_box_editable_down.png",scaleGridLeft="1",scaleGridTop="15",scaleGridRight="12",scaleGridBottom="17");
	editableOverSkin: Embed(source="../assets/combo_box/editable/combo_box_editable_over.png",scaleGridLeft="1",scaleGridTop="15",scaleGridRight="12",scaleGridBottom="17");
	editableUpSkin: Embed(source="../assets/combo_box/editable/combo_box_editable_up.png",scaleGridLeft="1",scaleGridTop="15",scaleGridRight="12",scaleGridBottom="17");
	fontWeight: normal;
	arrowButtonWidth: 15;
	themeColor: #FFFFFF;
	dropDownStyleName: "contextPanelDropDown";
	textInputStyleName : "comboBoxTextInput";
	textSelectedColor: #FFFFFF;
	textRollOverColor: #FFFFFF;
}

.contextScrollBar {
	downArrowUpSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_right_up.png");
	downArrowOverSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_right_over.png");
	downArrowDownSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_right_down.png");
	downArrowDisabledSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_right_disabled.png");
	
	upArrowUpSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_left_up.png");
	upArrowOverSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_left_over.png");
	upArrowDownSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_left_down.png");
	upArrowDisabledSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_arrow_left_disabled.png");
	
	thumbDownSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_thumb_down.png", scaleGridLeft="2", scaleGridTop="3", scaleGridRight="13", scaleGridBottom="48");
	thumbUpSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_thumb_up.png", scaleGridLeft="2", scaleGridTop="3", scaleGridRight="13", scaleGridBottom="48");
	thumbOverSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_thumb_over.png", scaleGridLeft="2", scaleGridTop="3", scaleGridRight="13", scaleGridBottom="48");
	thumbDisabledSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_thumb_disabled.png", scaleGridLeft="2", scaleGridTop="3", scaleGridRight="13", scaleGridBottom="48");
	
	trackSkin: Embed(source="../assets/scrollbar/hint_panel/scrollbar_track_skin.png", scaleGridLeft="1", scaleGridTop="1", scaleGridRight="13", scaleGridBottom="8");
}

.contextPanelDropDown {
	paddingTop:2;
	paddingBottom: 2;
	backgroundColor: #000000;
	textRollOverColor: #000000;
	textSelectedColor: #000000;
	rollOverColor: #7A7A7A;
	color : #666666;
	verticalScrollBarStyleName : "contextScrollBar";
	horizontalScrollBarStyleName : "contextScrollBar";
}

.contextTextInput {
	themeColor: #FFFFFF;
	backgroundColor: #000000;
	borderColor: #666666;
	borderThickness: 1;
	borderStyle: solid;
	cornerRadius: 3;
	fontSize: 11;
	fontFamily: "Arial";
	color: #FFFFFF;
}

.comboBoxTextInput {
	themeColor: #FFFFFF;
	backgroundColor: #000000;
	borderColor: #666666;
	borderThickness: 1;
	borderStyle: solid;
	color: #666666;
	cornerRadius: 0;
	fontSize: 11;
	fontFamily: "Arial";
	borderSides: "left top bottom";
	textAlign: left;
}

.toggleButtonBar {
	buttonStyleName : "togglePanelMiddleButton";
	firstButtonStyleName : "togglePanelFirstButton";
	lastButtonStyleName : "togglePanelLastButton";
}

.togglePanelMiddleButton {
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	paddingRight: 1;
	paddingLeft: 8;
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_middle_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="1", scaleGridRight="19");
}

.togglePanelFirstButton {
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	paddingRight: 1;
	paddingLeft: 8;
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_first_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
}

.togglePanelLastButton {
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	paddingRight: 1;
	paddingLeft: 8;
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_last_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
}

.presetsDropDownList {
	paddingTop:0;
	paddingLeft:1;
	paddingBottom:0;
	paddingRight:1;
	borderSides: "top", "right";
	fontFamily: "Arial";
	cornerRadius: 2;
	fontSize:11;
	themeColor: #000000;
	backgroundColor: #000000;
	color: #FFFFFF;
	selectionColor: #4D4D4D;
	rollOverColor: #333333;
	textSelectedColor: #FFFFFF;
	textRollOverColor: #FFFFFF;
	borderColor: #666666;
	verticalScrollBarStyleName: "contextScrollBar";
}

.categoryDropDownList {
	paddingTop:0;
	paddingLeft:1;
	paddingBottom:0;
	paddingRight:1;
	borderSides: "left", "top", "right";
	fontFamily: "Arial";
	fontWeight: bold;
	cornerRadius: 2;
	fontSize:11;
	themeColor: #FFFFFF;
	backgroundColor: #333333;
	color: #CCCCCC;
	selectionColor: #666666;
	rollOverColor: #4D4D4D;
	textSelectedColor: #FFFFFF;
	textRollOverColor: #FFFFFF;
	borderColor: #666666;
	verticalScrollBarStyleName: "contextScrollBar";
}