.editingHistoryContainer {
	paddingTop: 14;
	paddingBottom: 15;
	paddingLeft: 16;
	paddingRight: 6;
	
	verticalGap: 3;
	
	backgroundSize: "100%";
	backgroundImage: Embed(
		source = "../assets/editing_history/background.png",
		scaleGridTop = "8",
		scaleGridBottom = "10",
		scaleGridLeft = "50",
		scaleGridRight = "200"
	);
}

.editingHistoryTitle {
	color: #FFFFFF;
	fontSize: 16;
	fontWeight: "bold";
	fontFamily: "Arial";
}

.editingHistoryList {
	
	verticalGap: 0;
	paddingTop: 0;
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	
	backgroundAlpha: 0;
	borderStyle: "none";
	
	verticalScrollBarStyleName: "editingHistoryScrollBar";
}

.editingHistoryScrollBar {
	upArrowUpSkin: Embed("../assets/editing_history/scroll_up_norm.png");
	upArrowOverSkin: Embed("../assets/editing_history/scroll_up_hover.png");
	upArrowDownSkin: Embed("../assets/editing_history/scroll_up_down.png");
	
	downArrowUpSkin: Embed("../assets/editing_history/scroll_down_norm.png");
	downArrowOverSkin: Embed("../assets/editing_history/scroll_down_hover.png");
	downArrowDownSkin: Embed("../assets/editing_history/scroll_down_down.png");
	
	thumbIcon: Embed("../assets/editing_history/trackbutton_icon.png");
	thumbUpSkin: Embed(
		source = "../assets/editing_history/trackbutton_norm.png",
		scaleGridTop = "2",
		scaleGridBottom = "16",
		scaleGridLeft = "2",
		scaleGridRight = "16"
	);
	thumbOverSkin: Embed(
		source = "../assets/editing_history/trackbutton_hover.png",
		scaleGridTop = "2",
		scaleGridBottom = "16",
		scaleGridLeft = "2",
		scaleGridRight = "16"
	);
	thumbDownSkin: Embed(
		source = "../assets/editing_history/trackbutton_down.png",
		scaleGridTop = "2",
		scaleGridBottom = "16",
		scaleGridLeft = "2",
		scaleGridRight = "16"
	);
	
	trackSkin: Embed(
		source = "../assets/editing_history/scroll_back.png",
		scaleGridTop = "2",
		scaleGridBottom = "16",
		scaleGridLeft = "2",
		scaleGridRight = "16"
	);
}