.loadingIndicator {
	backgroundColor: #000000;
	backgroundAlpha: 0.8;
	cornerRadius: 10;
	borderColor: #FFFFFF;
	borderThickness: 1;
	borderStyle: solid;
	paddingLeft: 8;
	paddingTop: 4;
	paddingRight: 8;
	paddingBottom: 4;
}

.loadingIndicatorLabel {
	color: #FFFFFF;
}