/* CSS file */
.metadataPanel {
	borderColor: #B5CBD0;
	borderAlpha: 0.9;
	titleStyleName: "metadataPanelTitle";
	borderThicknessRight: 13;
}
.metadataPanelTitle {
	color: #000000;
	fontWeight: "bold";
	fontSize: 11;
}
.metadataPanelList {
	borderStyle: "none";
	paddingLeft: 3;
	paddingRight: 3;
	paddingTop: 3;
	paddingBottom: 3;
}
.metadataPanelTagRemoveButton {
	themeColor:#B5CBD0;
	paddingTop: 0;
	paddingRight: 0;
	paddingBottom: 0;
	paddingLeft: 0;
}
.toggleButton {
	upSkin: Embed("../assets/buttons/show_button_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	overSkin: Embed("../assets/buttons/show_button_over_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	downSkin: Embed("../assets/buttons/show_button_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	selectedUpSkin: Embed("../assets/buttons/hide_button_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	selectedOverSkin: Embed("../assets/buttons/hide_button_over_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	selectedDownSkin: Embed("../assets/buttons/hide_button_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	disabledUpSkin: Embed("../assets/buttons/hide_button_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	disabledOverSkin: Embed("../assets/buttons/hide_button_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	disabledDownSkin: Embed("../assets/buttons/hide_button_bg.png", scaleGridTop="7", scaleGridBottom="43", scaleGridLeft="8", scaleGridRight="9");
	focusRoundedCorners: "tl bl";
	cornerRadius: 10;
}
