.metadataButton {
	themeColor: #FFFFFF;
	textRollOverColor: #FFFFFF;
	textSelectedColor: #FFFFFF;
	fontWeight: normal;
	paddingTop: 6;
	paddingBottom: 6;
	paddingLeft: 7;
	paddingRight: 7;
	textAlign: center;
	overIcon: Embed("../assets/buttons/icons/plus_icon.png");
	disabledIcon: Embed("../assets/buttons/icons/plus_icon.png");
	upIcon: Embed("../assets/buttons/icons/plus_icon.png");
	downIcon: Embed("../assets/buttons/icons/plus_icon_selected.png");
	selectedUpIcon: Embed("../assets/buttons/icons/plus_icon_selected.png");
	selectedDownIcon: Embed("../assets/buttons/icons/plus_icon_selected.png");
	selectedOverIcon: Embed("../assets/buttons/icons/plus_icon_selected.png");
	upSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	overSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_over.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	downSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	disabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedUpSkin : Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedOverSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDownSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
	selectedDisabledSkin: Embed("../assets/buttons/hint_panel/hint_panel_button_bg_down.png", scaleGridTop="3", scaleGridBottom="15", scaleGridLeft="3", scaleGridRight="15");
}