.notificationPopUp {
	paddingLeft: 24;
	paddingRight: 24;
	paddingTop: 19;
	paddingBottom: 18;
	
	verticalGap: 10;
	
	backgroundSize: "100%";
	backgroundImage: Embed(
		source = "../assets/popup_background.png",
		scaleGridTop = "10",
		scaleGridBottom = "26",
		scaleGridLeft = "10",
		scaleGridRight = "50"
	);
	
	fontFamily: "Arial";
}

.notificationPopUpTitle {
	color: #FFFFFF;
	fontSize: 16;
	fontWeight: "bold";
}

.notificationPopUpMessage {
	paddingLeft: -2;
	paddingRight: -2;
	paddingTop: -6;
	paddingBottom: -2;
	
	color: #CCCCCC;
	fontSize: 12;
}

.notificationPopUpNote {
	color: #CCCCCC;
	fontSize: 12;
}

.notificationPopUpRule {
	strokeColor: #888888;
	strokeWidth: 1;
}

.notificationPopUpButtonsBox {
	horizontalGap: 7;
	paddingTop: 4;
}