/* CSS file */
.positionWidget {
	borderColor: #000000;
	borderAlpha: 0.5;
	titleStyleName: "positionWidgetTitle";
	paddingTop: 10;
	paddingRight: 10;
	paddingBottom: 10;
	paddingLeft: 10;
	horizontalAlign: "right";
	controlBarStyleName: "positionWidgetControlBar";
}

.positionWidgetTitle {
	color: #FFFFFF;
	fontWeight: "bold";
	fontSize: 11;
}

.positionWidgetControlBar {
	horizontalAlign: "right";
	paddingTop: 5;
	paddingBottom: 5;
}