/* CSS file */
.presetsPanelTabset {
	borderColor: #FFFFFF;
	themeColor: #FFFFFF;
	fontFamily: "Arial";
	buttonStyleName: "presetPanelButton";
	firstButtonStyleName: "presetPanelButton";
	lastButtonStyleName: "presetPanelButton";
	selectedButtonTextStyleName: "selectedPanelButton";
	
	verticalGap: 1;
}
.selectedPanelButton {
	color: #000000;
	textRollOverColor: #000000;
	fontWeight: bold;
}
.presetPanelButton {
	fontWeight: normal;
	color: #FFFFFF;
	fontSize: 15;
	textAlign: left;
	paddingLeft: 7;
	paddingRight: 20;
	textRollOverColor: #FFFFFF;
	upSkin: Embed(source="../assets/buttons/presets_toggle_button/deselected.png");
	overSkin: Embed(source="../assets/buttons/presets_toggle_button/highlighted.png");
	downSkin: Embed(source="../assets/buttons/presets_toggle_button/selected.png");
	selectedUpSkin: Embed(source="../assets/buttons/presets_toggle_button/selected.png");
	selectedOverSkin: Embed(source="../assets/buttons/presets_toggle_button/selected.png");
	selectedDownSkin: Embed(source="../assets/buttons/presets_toggle_button/selected.png");
}
.elementPresetTitle {
	textAlign: "center"; 
	fontWeight: "bold";
}
.presetsList {
	themeColor: #FFFFFF;
	paddingTop: 5;
	paddingBottom: 2;
	paddingRight: 0;
	paddingLeft: 0;
	fontSize: 11;
	fontFamily: "Arial";
	fontWeight: normal;
	color: #737A7B;
	textSelectedColor: #000000;
	rollOverColor: #DAE9EC;
	selectionColor: #D0DDE0;
	backgroundAlpha: 0;
	horizontalScrollBarStyleName: "presetsListScrollBar";
}
.presetsPanel {
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 2;
	paddingRight: 2;
	backgroundColor: #B5CBD0;
	horizontalGap: 0;
	backgroundDisabledColor: #AAAAAA;
}
.listHolder {
	backgroundColor: #ECF6F8;
}