.title {
	fontSize: 14;
	fontWeight: bold;
	color: #FFFFFF;
}

.titleSubtext {
	fontSize: 14;
	fontWeight: bold;
	color: #7F7F7F;
}

.textArea {
	cornerRadius: 4;
	color: #7f7f7f;
}

.dialogBody {
	backgroundColor: #000000;
	horizontalAlign: left;
	left: 5;
	right: 5;
	top: 5;
	bottom: 5;
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
}

.whiteBorder {
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.4;
	paddingTop: 5;
	paddingBottom: 5;
	paddingLeft: 5;
	paddingRight: 5;
}
.saveWindowLoadingIndicator {
	backgroundColor: #000000;
	backgroundAlpha: 0.6;
	paddingTop: 15;
	paddingBottom: 10;
	paddingLeft: 10;
	paddingRight: 0;
	verticalAlign: middle;
	horizontalAlign: center;
	color: #FFFFFF;
	fontSize: 12;
	horizontalGap: 0;
}