/* CSS file */
.settingsPanel {
	borderColor: #B5CBD0;
	borderAlpha: 1;
	titleStyleName: "settingsPanelTitle";
	paddingTop: 10;
	paddingRight: 10;
	paddingBottom: 10;
	paddingLeft: 10;
	horizontalAlign: "left";
}

.settingsPanelTitle {
	color: #000000;
	fontWeight: "bold";
	fontSize: 11;
}