/* CSS file */
global {
    modalTransparencyBlur: 0;
    modalTransparency: 0.25;
    modalTransparencyColor: #000000;
}

Alert {
	borderColor: #000000;
    backgroundColor: #000000;
    borderAlpha: 1.0;
    backgroundAlpha: 1.0;
	color: #FFFFFF;
	themeColor: #FFFFFF;
}

Button {
	fontFamily: "Arial";
	fontWeight: normal;
	fontSize: 11;
	paddingLeft: 10;
	paddingRight: 10;
	disabledColor: #AAAAAA;
	upSkin: Embed(source="../assets/buttons/default/default_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/default/default_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/default/default_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/default/default_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/default/default_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/default/default_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/default/default_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/default/default_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}

DropShadowButton {
	textDropShadowColor: #FFFFFF;
	textDropShadowAngle: 45;
	textDropShadowAlpha: 1;
	textDropShadowDistance: 1;
	textDropShadowBlur: 0;
	disabledColor: #777777;
}

ButtonBar {
	firstButtonStyleName: "buttonBarFirstButton";
	buttonStyleName: "buttonBarMiddleButton";
	lastButtonStyleName: "buttonBarLastButton";
}

.buttonBarMiddleButton {
	disabledColor: #AAAAAA;
	fontWeight: normal;
	upSkin: Embed(source="../assets/buttons/default/default_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/default/default_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/default/default_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/default/default_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/default/default_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/default/default_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/default/default_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/default/default_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}

.buttonBarFirstButton {
	disabledColor: #AAAAAA;
	paddingRight: 17;
	paddingLeft: 17;
	fontWeight:bold;
	upSkin: Embed(source="../assets/buttons/default/default_first_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/default/default_first_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/default/default_first_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/default/default_first_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/default/default_first_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/default/default_first_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/default/default_first_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/default/default_first_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}

.buttonBarLastButton {
	disabledColor: #AAAAAA;
	paddingRight: 17;
	paddingLeft: 17;
	fontWeight:bold;
	upSkin: Embed(source="../assets/buttons/default/default_last_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/default/default_last_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/default/default_last_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/default/default_last_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/default/default_last_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/default/default_last_button_bg_over.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/default/default_last_button_bg_down.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/default/default_last_button_bg_disabled.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}

RadioButton {
	disabledIcon: Embed(source="../assets/radio_button/radio_button_disabled_bg.png");
	downIcon: Embed(source="../assets/radio_button/radio_button_over_bg.png");
	overIcon: Embed(source="../assets/radio_button/radio_button_over_bg.png");
	upIcon: Embed(source="../assets/radio_button/radio_button_up_bg.png");
	selectedDownIcon: Embed(source="../assets/radio_button/radio_button_selected_bg.png");
	selectedOverIcon: Embed(source="../assets/radio_button/radio_button_selected_bg.png");
	selectedUpIcon: Embed(source="../assets/radio_button/radio_button_selected_bg.png");
}

CheckBox {
	disabledIcon: Embed(source="../assets/checkbox/checkbox_disabled_bg.png");
	downIcon: Embed(source="../assets/checkbox/checkbox_over_bg.png");
	overIcon: Embed(source="../assets/checkbox/checkbox_over_bg.png");
	upIcon: Embed(source="../assets/checkbox/checkbox_up_bg.png");
	selectedDownIcon: Embed(source="../assets/checkbox/checkbox_selected_bg.png");
	selectedOverIcon: Embed(source="../assets/checkbox/checkbox_selected_over_bg.png");
	selectedUpIcon: Embed(source="../assets/checkbox/checkbox_selected_bg.png");
}

/*ComboBox {
	arrowButtonWidth: 18;
	themeColor:#DBEEF1;
	disabledSkin: Embed(source="../assets/combo_box/default/combobox_up_bg.png",scaleGridLeft="1",scaleGridTop="15",scaleGridRight="100",scaleGridBottom="16");
	downSkin: Embed(source="../assets/combo_box/default/combobox_down_bg.png",scaleGridLeft="1",scaleGridTop="15",scaleGridRight="100",scaleGridBottom="16");
	overSkin: Embed(source="../assets/combo_box/default/combobox_over_bg.png",scaleGridLeft="1",scaleGridTop="15",scaleGridRight="100",scaleGridBottom="16");
	upSkin: Embed(source="../assets/combo_box/default/combobox_up_bg.png", scaleGridLeft="1", scaleGridTop="15", scaleGridRight="100", scaleGridBottom="16");
	editableDisabledSkin: Embed(source="../assets/combo_box/default/editable/combobox_disabled_bg.png", scaleGridLeft="1", scaleGridTop="15", scaleGridRight="101", scaleGridBottom="16");
	editableDownSkin: Embed(source="../assets/combo_box/default/editable/combobox_down_bg.png", scaleGridLeft="1", scaleGridTop="15", scaleGridRight="101", scaleGridBottom="16");
	editableOverSkin: Embed(source="../assets/combo_box/default/editable/combobox_over_bg.png", scaleGridLeft="1", scaleGridTop="15", scaleGridRight="101", scaleGridBottom="16");
	editableUpSkin: Embed(source="../assets/combo_box/default/editable/combobox_up_bg.png", scaleGridLeft="1", scaleGridTop="15", scaleGridRight="101", scaleGridBottom="16");
}*/

ScrollBar {
	upArrowUpSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_left_up.png");
	upArrowOverSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_left_over.png");
	upArrowDownSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_left_down.png");
	upArrowDisabledSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_left_disabled.png");
	
	downArrowUpSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_right_up.png");
	downArrowOverSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_right_over.png");
	downArrowDownSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_right_down.png");
	downArrowDisabledSkin: Embed(source="../assets/scrollbar/scrollbar_arrow_right_disabled.png");
	
	thumbDownSkin: Embed(source="../assets/scrollbar/scrollbar_thumb_down.png", scaleGridLeft="2", scaleGridTop="2", scaleGridRight="13", scaleGridBottom="18");
	thumbUpSkin: Embed(source="../assets/scrollbar/scrollbar_thumb_up.png", scaleGridLeft="2", scaleGridTop="2", scaleGridRight="13", scaleGridBottom="18");
	thumbOverSkin: Embed(source="../assets/scrollbar/scrollbar_thumb_over.png", scaleGridLeft="2", scaleGridTop="2", scaleGridRight="13", scaleGridBottom="18");
	thumbDisabledSkin: Embed(source="../assets/scrollbar/scrollbar_thumb_disabled.png", scaleGridLeft="2", scaleGridTop="2", scaleGridRight="13", scaleGridBottom="18");
	
	trackSkin: Embed(source="../assets/scrollbar/scrollbar_track_skin.png");
}
.orangeButton {
	fontWeight: bold;
	color: #000000;
	upSkin: Embed(source="../assets/buttons/orange/orange_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/orange/orange_button_over_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/orange/orange_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}

.orangeButtonBar {
	firstButtonStyleName: "orangeButtonBarFirstButton";
	buttonStyleName: "orangeButtonBarMiddleButton";
	lastButtonStyleName: "orangeButtonBarLastButton";
}

.orangeButtonBarMiddleButton {
	upSkin: Embed(source="../assets/buttons/orange/orange_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/orange/orange_button_over_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/orange/orange_button_disabled_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/orange/orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}

.orangeButtonBarFirstButton {
	paddingRight: 17;
	paddingLeft: 17;
	fontWeight:bold;
	upSkin: Embed(source="../assets/buttons/orange/first_orange_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/orange/first_orange_button_over_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/orange/first_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/orange/first_orange_button_disabled_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/orange/first_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/orange/first_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/orange/first_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/orange/first_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}

.orangeButtonBarFirstButton {
	paddingRight: 17;
	paddingLeft: 17;
	fontWeight:bold;
	upSkin: Embed(source="../assets/buttons/orange/last_orange_button_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	overSkin: Embed(source="../assets/buttons/orange/last_orange_button_over_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	downSkin: Embed(source="../assets/buttons/orange/last_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	disabledSkin : Embed(source="../assets/buttons/orange/last_orange_button_disabled_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedUpSkin: Embed(source="../assets/buttons/orange/last_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedOverSkin: Embed(source="../assets/buttons/orange/last_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDownSkin: Embed(source="../assets/buttons/orange/last_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
	selectedDisabledSkin : Embed(source="../assets/buttons/orange/last_orange_button_down_bg.png", scaleGridLeft="2", scaleGridRight="3", scaleGridTop="2",scaleGridBottom="19");
}