/* CSS file */
.welcomeWindow {
	fontSize: 12;
    roundedBottomCorners: true;
    borderColor: #FFFFFF;
    backgroundColor: #000000;
    borderAlpha: 0.4;
    backgroundAlpha: 1;
    dropShadowEnabled: true;
    color: #FFFFFF;
    paddingTop: 10;
    paddingBottom: 10;
    paddingRight: 10;
    paddingLeft: 10;
    borderThickness: 5;
   	borderThicknessLeft: 5;
   	borderThicknessTop: 1;
   	borderThicknessBottom: 5;
   	borderThicknessRight: 5;
	horizontalAlign: "center";
	headerHeight: 4;
	leading: -2;
}

.welcomeWindowTitle {
	fontSize: 13;
	fontWeight: "bold";
}

.welcomeWindowOkButton {
	themeColor: #B5CBD0;
	color: #0B333C;
}