/* CSS file */
.zoomingWidget {
	horizontalAlign: "center";
	backgroundColor: #FFFFFF;
	backgroundAlpha: 0.4;
	cornerRadius: 1;
	borderStyle: "solid";
	verticalGap: 0;
	paddingTop: 1;
	paddingRight: 1;
	paddingBottom: 1;
	paddingLeft: 1;
}

.zoomingWidgetSlider {
	snapInterval: 1;
	tickThickness: 3;
	tickOffset: 9;
	tickLength: 14;
	tickColor: #91A2A6;
	trackSkin: ClassReference("mx.skins.ProgrammaticSkin");
	thumbSkin: Embed("../assets/zooming_widget/thumb_skin.png");
	thumbOverSkin: Embed("../assets/zooming_widget/thumb_over_skin.png");
	thumbDownSkin: Embed("../assets/zooming_widget/thumb_down_skin.png");
}

.zoomingWidgetButton {
	color: #000000;
	fontWeight: bold;
	paddingTop: 0;
	paddingRight: 0;
	paddingBottom: 0;
	paddingLeft: 0;
}