/* CSS file */
.buildingArea {
	areaColor: #b8b7b3;
}
.universityArea {areaBitmap: Embed(source="../../assets/fills/university.png"); areaAlpha: 0.5;}
.collegeArea {areaBitmap: Embed(source="../../assets/fills/university.png"); areaAlpha: 0.5;}
.hospitalArea {areaBitmap: Embed(source="../../assets/fills/hospital.png"); areaAlpha: 0.5;}
.schoolArea {areaBitmap: Embed(source="../../assets/fills/school.png"); areaAlpha: 0.5;}
.placeOfWorshipArea {areaBitmap: Embed(source="../../assets/fills/place_of_worship.png"); areaAlpha: 0.5;}
.parkingArea {areaBitmap: Embed(source="../../assets/fills/parking.png"); areaAlpha: 0.5;}
.bicycleParkingArea {areaBitmap: Embed(source="../../assets/fills/bicycle_parking.png"); areaAlpha: 0.5;}
.busStationArea {areaColor: #424242;}
.carRentalArea {areaColor: #363636;}
.lakeArea {areaColor: #58afcd;}
.waterArea {areaColor: #58afcd;}
.landArea {areaColor: #e7e6e2;}
.heathArea {areaBitmap: Embed(source="../../assets/fills/heath.png"); areaAlpha: 0.5;}
.beachArea {areaBitmap: Embed(source="../../assets/fills/beach.png"); areaAlpha: 0.5;}
.natureReserveArea {areaBitmap: Embed(source="../../assets/fills/nature_reserve.png"); areaAlpha: 0.5;}
.parkArea {areaBitmap: Embed(source="../../assets/fills/park.png"); areaAlpha: 0.5;}
.commonArea {areaColor: #d8d7d3;}
.gardenArea {areaBitmap: Embed(source="../../assets/fills/garden.png"); areaAlpha: 0.5;}
.playgroundArea {areaColor: #c5cfc4;}
.golfCourseArea {areaColor: #9cc8cb;}
.sportsCentreArea {areaColor: #6b989b;}
.stadiumArea {areaColor: #a1d860;}
.trackArea {areaColor: #a2cf62;}
.pitchArea {areaColor: #60878c;}
.residentialArea {areaColor: #cecdc9;}
.meadowArea {areaColor: #9fda60;}
.farmArea {areaColor: #c3cf61;}
.allotmentsArea {areaColor: #c1da5b;}
.forestArea {areaColor: #66e755;}
.villageGreenArea {areaBitmap: Embed(source="../../assets/fills/village_green.png"); areaAlpha: 0.5;}
.retailArea {areaBitmap: Embed(source="../../assets/fills/retail.png");}
.industrialArea {areaColor: #c1b7c2;}
.commercialArea {areaBitmap: Embed(source="../../assets/fills/commercial.png"); areaAlpha: 0.5;}
.brownfieldArea {areaColor: #a99980;}
.woodArea {areaColor: #4ca04b;}
.cemeteryArea {areaBitmap: Embed(source="../../assets/fills/cemetery.png"); areaAlpha: 0.5;}
.recreationGroundArea {areaColor: #77a8ac;}
.reservoirArea {areaColor: #58afcd;}
.waterArea {areaColor: #58afcd;}
.dangerAreaArea {areaBitmap: Embed(source="../../assets/fills/danger_area.png"); areaAlpha: 0.5;}
.barracksArea {areaBitmap: Embed(source="../../assets/fills/barracks.png"); areaAlpha: 0.5;}
.attractionArea {areaColor: #abd1f5;}
.museumArea {areaBitmap: Embed(source="../../assets/fills/museum.png"); areaAlpha: 0.5;}
.zooArea {areaColor: #8caeca;}
.stationArea {areaColor: #b8b7b3;}
.powerStationArea {areaColor: #979797;}
.subStationArea {areaColor: #7c7c7c;}
.railwayStationArea {areaColor: #b6b6b6;}
.supermarketArea {areaBitmap: Embed(source="../../assets/fills/supermarket.png"); areaAlpha: 0.5;}
.landuseRetailArea {areaBitmap: Embed(source="../../assets/fills/landuse_retail.png"); areaAlpha: 0.5;}
.terminalArea {areaColor: #68866c;}
.apronArea {areaColor: #4e6551;}
.residentialArea {areaColor: #cecdc9;}
.pedestrianArea {areaColor: #5b6b6b;}
.riverbankArea {areaColor: #58afcd;}
.dockArea {areaColor: #50a0bb;}
.basinArea {areaColor: #4a94ad;}
.grassArea {areaColor: #99cc66;}
.railwayStationArea {areaColor: #b2b2b2;}
.helipadArea {areaColor: #555555;}
.pierArea {areaColor: #b2b2b2;}
.campArea {areaColor: #339933;}
.iceRinkArea {areaColor: #99cccc;}
.archaeologicalSiteArea { areaColor: #a99980; }
.platformArea { areaColor: #979797; }
.pedestrianArea { areaColor: #5b6b6b; }
.scrubArea {areaBitmap: Embed(source="../../assets/fills/scrub.png"); areaAlpha: 0.5;}
.soccerArea {areaBitmap: Embed(source="../../assets/fills/soccer.png"); areaAlpha: 0.5;}
.footballArea {areaBitmap: Embed(source="../../assets/fills/football.png"); areaAlpha: 0.5;}
.baseballArea {areaBitmap: Embed(source="../../assets/fills/baseball.png"); areaAlpha: 0.5;}
.rugbyArea {areaBitmap: Embed(source="../../assets/fills/rugby.png"); areaAlpha: 0.5;}
.lacrosseArea {areaBitmap: Embed(source="../../assets/fills/lacross.png"); areaAlpha: 0.5;}