.undefined { icon: Embed(source="../../assets/nodes/default.png"); }


/* auto */

.autoDealerNode { icon: Embed(source="../../assets/nodes/auto_dealer.png"); }
.autoPartsNode { icon: Embed(source="../../assets/nodes/auto_parts.png"); }
.carRentalNode { icon: Embed(source="../../assets/nodes/car_rental.png"); }
.carRepairNode { icon: Embed(source="../../assets/nodes/car_repair.png"); }
.carSharingNode { icon: Embed(source="../../assets/nodes/car_sharing.png"); }
.carWashNode { icon: Embed(source="../../assets/nodes/car_wash.png"); }
.motorcycleDealerNode { icon: Embed(source="../../assets/nodes/motorcycle_dealer.png"); }
.parkingNode { icon: Embed(source="../../assets/nodes/parking.png"); }
.fuelStationNode { icon: Embed(source="../../assets/nodes/fuel_station.png"); }


/* education */

.collegeNode { icon: Embed(source="../../assets/nodes/college.png"); }
.schoolNode { icon: Embed(source="../../assets/nodes/school.png"); }
.kindergartenNode { icon: Embed(source="../../assets/nodes/kindergarten.png"); }
.universityNode { icon: Embed(source="../../assets/nodes/university.png"); }


/* food_and_drinks */

.bakeryNode { icon: Embed(source="../../assets/nodes/bakery.png"); }
.cafeNode { icon: Embed(source="../../assets/nodes/cafe.png"); }
.fastFoodNode { icon: Embed(source="../../assets/nodes/fast_food.png"); }
.pubNode { icon: Embed(source="../../assets/nodes/pub.png"); }
.restaurantNode { icon: Embed(source="../../assets/nodes/restaurant.png"); }


/* government */

.borderCrossingNode { icon: Embed(source="../../assets/nodes/border_crossing.png"); }
.cityHallNode { icon: Embed(source="../../assets/nodes/city_hall.png"); }
.courtNode { icon: Embed(source="../../assets/nodes/court.png"); }
.embassyNode { icon: Embed(source="../../assets/nodes/embassy.png"); }
.fireStationNode { icon: Embed(source="../../assets/nodes/fire_station.png"); }
.policeNode { icon: Embed(source="../../assets/nodes/police.png"); }
.prisonNode { icon: Embed(source="../../assets/nodes/prison.png"); }


/* health_care_and_veterinary */

.dentistNode { icon: Embed(source="../../assets/nodes/dentist.png"); }
.doctorNode { icon: Embed(source="../../assets/nodes/doctor.png"); }
.hospitalNode { icon: Embed(source="../../assets/nodes/hospital.png"); }
.pharmacyNode { icon: Embed(source="../../assets/nodes/pharmacy.png"); }
.veterinaryNode { icon: Embed(source="../../assets/nodes/veterinary.png"); }


/* lifestyle_leisure_and_entertainment */

.artsCentreNode { icon: Embed(source="../../assets/nodes/arts_centre.png"); }
.cinemaNode { icon: Embed(source="../../assets/nodes/cinema.png"); }
.libraryNode { icon: Embed(source="../../assets/nodes/library.png"); }
.museumNode { icon: Embed(source="../../assets/nodes/museum.png"); }
.waterParkNode { icon: Embed(source="../../assets/nodes/water_park.png"); }
.nightclubNode { icon: Embed(source="../../assets/nodes/nightclub.png"); }
.artworkNode { icon: Embed(source="../../assets/nodes/artwork.png"); }
.theatreNode { icon: Embed(source="../../assets/nodes/theatre.png"); }
.themeParkNode { icon: Embed(source="../../assets/nodes/theme_park.png"); }
.zooNode { icon: Embed(source="../../assets/nodes/zoo.png"); }
.aerialwayStationNode { icon: Embed(source="../../assets/nodes/aerialway_station.png"); }
.archaeologicalSiteNode { icon: Embed(source="../../assets/nodes/archaeological_site.png"); }
.beachNode { icon: Embed(source="../../assets/nodes/beach.png"); }
.cableCarNode { icon: Embed(source="../../assets/nodes/cable_car.png"); }
.castleNode { icon: Embed(source="../../assets/nodes/castle.png"); }
.caveEntranceNode { icon: Embed(source="../../assets/nodes/cave_entrance.png"); }
.fishingNode { icon: Embed(source="../../assets/nodes/fishing.png"); }
.fountainNode { icon: Embed(source="../../assets/nodes/fountain.png"); }
.gardenNode { icon: Embed(source="../../assets/nodes/garden.png"); }
.glacierNode { icon: Embed(source="../../assets/nodes/glacier.png"); }
.informationNode { icon: Embed(source="../../assets/nodes/information.png"); }
.memorialNode { icon: Embed(source="../../assets/nodes/memorial.png"); }
.monumentNode { icon: Embed(source="../../assets/nodes/monument.png"); }
.marinaNode { icon: Embed(source="../../assets/nodes/marina.png"); }
.natureReserveNode { icon: Embed(source="../../assets/nodes/nature_reserve.png"); }
.parkNode { icon: Embed(source="../../assets/nodes/park.png"); }
.peakNode { icon: Embed(source="../../assets/nodes/peak.png"); }
.picnicSiteNode { icon: Embed(source="../../assets/nodes/picnic_site.png"); }
.recreationGroundNode { icon: Embed(source="../../assets/nodes/recreation_ground.png"); }
.ruinsNode { icon: Embed(source="../../assets/nodes/ruins.png"); }
.treeNode { icon: Embed(source="../../assets/nodes/tree.png"); }
.springNode { icon: Embed(source="../../assets/nodes/spring.png"); }
.towerNode { icon: Embed(source="../../assets/nodes/tower.png"); }
.viewpointNode { icon: Embed(source="../../assets/nodes/viewpoint.png"); }
.volcanoNode { icon: Embed(source="../../assets/nodes/volcano.png"); }
.watermillNode { icon: Embed(source="../../assets/nodes/watermill.png"); }
.placeOfWorshipNode { icon: Embed(source="../../assets/nodes/place_of_worship.png"); }


/* travel_and_accommodation */

.campSiteNode { icon: Embed(source="../../assets/nodes/camp_site.png"); }
.guestHouseNode { icon: Embed(source="../../assets/nodes/guest_house.png"); }
.hotelNode { icon: Embed(source="../../assets/nodes/hotel.png"); }
.hostelNode { icon: Embed(source="../../assets/nodes/hostel.png"); }
.motelNode { icon: Embed(source="../../assets/nodes/motel.png"); }
.chaletNode { icon: Embed(source="../../assets/nodes/chalet.png"); }


/* shopping */

.supermarketNode { icon: Embed(source="../../assets/nodes/supermarket.png"); }
.convenienceNode { icon: Embed(source="../../assets/nodes/convenience.png"); }
.departmentStoreNode { icon: Embed(source="../../assets/nodes/department_store.png"); }
.clothesNode { icon: Embed(source="../../assets/nodes/clothes.png"); }
.shoesNode { icon: Embed(source="../../assets/nodes/shoes.png"); }
.booksNode { icon: Embed(source="../../assets/nodes/books.png"); }
.stationeryNode { icon: Embed(source="../../assets/nodes/stationery.png"); }
.musicVideoNode { icon: Embed(source="../../assets/nodes/music_video.png"); }
.computersNode { icon: Embed(source="../../assets/nodes/computers.png"); }
.electronicsNode { icon: Embed(source="../../assets/nodes/electronics.png"); }
.photoNode { icon: Embed(source="../../assets/nodes/shop_photo.png"); }
.phoneNode { icon: Embed(source="../../assets/nodes/shop_phone.png"); }
.mobileNode { icon: Embed(source="../../assets/nodes/shop_mobile.png"); }
.alcoholNode { icon: Embed(source="../../assets/nodes/alcohol.png"); }
.butcherNode { icon: Embed(source="../../assets/nodes/butcher.png"); }
.confectioneryNode { icon: Embed(source="../../assets/nodes/confectionery.png"); }
.organicNode { icon: Embed(source="../../assets/nodes/organic.png"); }
.adultNode { icon: Embed(source="../../assets/nodes/shop_sex.png"); }
.furnitureNode { icon: Embed(source="../../assets/nodes/furniture.png"); }
.textileNode { icon: Embed(source="../../assets/nodes/hometextile.png"); }
.carpetsNode { icon: Embed(source="../../assets/nodes/shop_carpets.png"); }
.doityourselfNode { icon: Embed(source="../../assets/nodes/doityourself.png"); }
.floristNode { icon: Embed(source="../../assets/nodes/florist.png"); }
.jewelersNode { icon: Embed(source="../../assets/nodes/jewelers.png"); }
.souvenirsNode { icon: Embed(source="../../assets/nodes/souvenirs.png"); }
.toysNode { icon: Embed(source="../../assets/nodes/toys.png"); }
.generalSportingGoodsNode { icon: Embed(source="../../assets/nodes/general_sporting_goods.png"); }
.bicycleNode { icon: Embed(source="../../assets/nodes/bicycle.png"); }
.outdoorNode { icon: Embed(source="../../assets/nodes/outdoor.png"); }


/* services */

.atmNode { icon: Embed(source="../../assets/nodes/atm.png"); }
.bankNode { icon: Embed(source="../../assets/nodes/bank.png"); }
.bureauDeChangeNode { icon: Embed(source="../../assets/nodes/bureau_de_change.png"); }
.postOfficeNode { icon: Embed(source="../../assets/nodes/post_office.png"); }
.postBoxNode { icon: Embed(source="../../assets/nodes/post_box.png"); }
.internetCafeNode { icon: Embed(source="../../assets/nodes/internet_cafe.png"); }
.telephoneNode { icon: Embed(source="../../assets/nodes/telephone.png"); }
.surveillanceNode { icon: Embed(source="../../assets/nodes/surveillance.png"); }
.dryCleaningNode { icon: Embed(source="../../assets/nodes/dry_cleaning.png"); }
.brothelNode { icon: Embed(source="../../assets/nodes/brothel.png"); }
.laundryNode { icon: Embed(source="../../assets/nodes/laundry.png"); }
.hairdresserNode { icon: Embed(source="../../assets/nodes/hairdresser.png"); }
.travelAgencyNode { icon: Embed(source="../../assets/nodes/travel_agency.png"); }
.drinkingWaterNode { icon: Embed(source="../../assets/nodes/drinkingWater.png"); }
.publicToiletsNode { icon: Embed(source="../../assets/nodes/publicToilets.png"); }
.recyclingNode { icon: Embed(source="../../assets/nodes/recycling.png"); }

/* sports */

.golfCourseNode { icon: Embed(source="../../assets/nodes/golf_course.png"); }
.sportCentreNode { icon: Embed(source="../../assets/nodes/sport_centre.png"); }
.stadiumNode { icon: Embed(source="../../assets/nodes/stadium.png"); }
.tenPinNode { icon: Embed(source="../../assets/nodes/10pin.png"); }
.athleticsNode { icon: Embed(source="../../assets/nodes/athletics.png"); }
.australianFootballNode { icon: Embed(source="../../assets/nodes/australian_football.png"); }
.archeryNode { icon: Embed(source="../../assets/nodes/archery.png"); }
.baseballNode { icon: Embed(source="../../assets/nodes/baseball.png"); }
.basketballNode { icon: Embed(source="../../assets/nodes/basketball.png"); }
.boulesNode { icon: Embed(source="../../assets/nodes/boules.png"); }
.bowlsNode { icon: Embed(source="../../assets/nodes/bowls.png"); }
.canoeNode { icon: Embed(source="../../assets/nodes/canoe.png"); }
.climbingNode { icon: Embed(source="../../assets/nodes/climbing.png"); }
.cricketNode { icon: Embed(source="../../assets/nodes/cricket.png"); }
.cricketNetsNode { icon: Embed(source="../../assets/nodes/cricket_nets.png"); }
.croquetNode { icon: Embed(source="../../assets/nodes/croquet.png"); }
.dogRacingNode { icon: Embed(source="../../assets/nodes/dog_racing.png"); }
.equestrianNode { icon: Embed(source="../../assets/nodes/equestrian.png"); }
.footballNode { icon: Embed(source="../../assets/nodes/football.png"); }
.golfNode { icon: Embed(source="../../assets/nodes/golf.png"); }
.gymnasticsNode { icon: Embed(source="../../assets/nodes/gymnastics.png"); }
.hockeyNode { icon: Embed(source="../../assets/nodes/hockey.png"); }
.horseRacingNode { icon: Embed(source="../../assets/nodes/horse_racing.png"); }
.motorSportNode { icon: Embed(source="../../assets/nodes/motor_sport.png"); }
.multiNode { icon: Embed(source="../../assets/nodes/multi.png"); }
.pelotaNode { icon: Embed(source="../../assets/nodes/pelota.png"); }
.pitchNode { icon: Embed(source="../../assets/nodes/pitch.png"); }
.racquetNode { icon: Embed(source="../../assets/nodes/racquet.png"); }
.rowingNode { icon: Embed(source="../../assets/nodes/rowing.png"); }
.rugbyNode { icon: Embed(source="../../assets/nodes/rugby.png"); }
.shootingNode { icon: Embed(source="../../assets/nodes/shooting.png"); }
.skatingNode { icon: Embed(source="../../assets/nodes/skating.png"); }
.skateboardNode { icon: Embed(source="../../assets/nodes/skateboard.png"); }
.soccerNode { icon: Embed(source="../../assets/nodes/soccer.png"); }
.swimmingNode { icon: Embed(source="../../assets/nodes/swimming.png"); }
.skiingNode { icon: Embed(source="../../assets/nodes/skiing.png"); }
.trackNode { icon: Embed(source="../../assets/nodes/track.png"); }
.tableTennisNode { icon: Embed(source="../../assets/nodes/table_tennis.png"); }
.teamHandballNode { icon: Embed(source="../../assets/nodes/team_handball.png"); }
.tennisNode { icon: Embed(source="../../assets/nodes/tennis.png"); }
.orienteeringNode { icon: Embed(source="../../assets/nodes/orienteering.png"); }

/* transport_access_points */

.bicycleParkingNode { icon: Embed(source="../../assets/nodes/bicycle_parking.png"); }
.bicycleRentalNode { icon: Embed(source="../../assets/nodes/bicycle_rental.png"); }
.busStopNode { icon: Embed(source="../../assets/nodes/bus_stop.png"); }
.ferryStopNode { icon: Embed(source="../../assets/nodes/ferry_stop.png"); }
.taxiStopNode { icon: Embed(source="../../assets/nodes/taxi_stop.png"); }
.tramStopNode { icon: Embed(source="../../assets/nodes/tram_stop.png"); }
.trainStationNode { icon: Embed(source="../../assets/nodes/train_station.png"); }
