/* Default */

.undefinedRealWay {
	wayColor: #F7E5A0;
	wayWidth: 3;
}

/* Highways */

.motorwayRealWay {
	wayLineColor: #F7C874;
	wayLineWidth: 3;
	wayColor: #485959;
	wayWidth: 9;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 3;
	arrowColor: #000000;
}
.trunkRealWay {
	wayLineColor: #F7C874;
	wayLineWidth: 2;
	wayColor: #687B7B;
	wayWidth: 6;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
	arrowColor: #666666;
}
.primaryRealWay {
	wayLineColor: #F7C874;
	wayLineWidth: 1;
	wayColor: #687B7B;
	wayWidth: 5;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
}
.secondaryRealWay {
	wayLineColor: #F7C874;
	wayLineWidth: 1;
	wayColor: #8B9E9D;
	wayWidth: 4;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
	arrowColor: #FFFFFF;
}
.tertiaryRealWay {
	wayLineColor: #F7C874;
	wayLineWidth: 1;
	wayColor: #8B9E9D;
	wayWidth: 4;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
}
.unclassifiedRealWay {
	wayColor: #8B9E9D;
	wayWidth: 8;
	wayAlpha: 1;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
}
.residentialRealWay {
	wayColor: #A9BCBC;
	wayWidth: 8;
	wayAlpha: 1;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
}
.cyclewayRealWay {
	wayLineColor: #FFFFFF;
	wayLineWidth: 2;
	wayColor: #8B9E9D;
	wayWidth: 4;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
}
.roadRealWay {
	wayColor: #AD9170;
	wayWidth: 7;
	wayAlpha: 1;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
}
.pedestrianRealWay {
	wayWidth: 0;
	wayAlpha: 0;
	wayColor: #000000;
	wayBackgroundWidth: 4;
	wayBackgroundColor: #FFFFFF;
	wayBackgroundAlpha: 1;
	dashWidth: 1;
	gapWidth: 3;
	wayBorderWidth: 2;
	wayBorderColor: #4B5959;
	wayBorderAlpha:1;
}
.livingStreetRealWay {
	wayColor: #A9BCBC;
	wayWidth: 5;
	wayAlpha: 1;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 1;
}
.serviceRealWay {
	wayColor: #FFFFFF;
	wayWidth: 4;
	wayAlpha: 0.8;
	wayBorderColor: #BEBEBE;
	wayBorderWidth: 1;
	wayBorderAlpha: 1;
}
.trackRealWay {
	wayColor: #485959;
	wayWidth: 7;
	wayAlpha: 1;
	wayBorderColor: #EFEFED;
	wayBorderWidth: 2;
}

.busGuidewayRealWay {
	wayColor: #2ECDE3;
	wayWidth: 3;
	wayAlpha: 0.8;
}

/* Cycleways */

.cyclewayRealWay {
	wayBorderColor: #A9BCBC;
	wayBorderWidth: 3;
	wayWidth: 1;
	wayAlpha: 0;
}

/* Railways */

.railRealWay {
	wayLineColor: #E5E4E1;
	wayLineWidth: 2;
	wayLineDashWidth: 3;
	wayLineGapWidth: 3;
	wayColor: #828B8A;
	wayWidth: 6;
	wayAlpha: 0.6;
	wayBorderColor: #E5E4E1;
	wayBorderWidth: 1;
}
.tramRealWay {
	wayLineColor: #E5E4E1;
	wayLineWidth: 3;
	wayColor: #828B8A;
	wayWidth: 3;
	wayAlpha: 0.6;
	wayBorderColor: #E5E4E1;
	wayBorderWidth: 1;
}
.monorailRealWay {
	wayColor: #828B8A;
	wayWidth: 3;
	wayAlpha: 1;
	wayBorderColor: #E5E4E1;
	wayBorderWidth: 3;
}

.bridlewayRealWay {
	wayWidth: 3;
	wayColor: #666600;
}