/* Default */

.undefinedWay {
	wayColor: #666666;
	wayWidth: 2;
}

/* Highways */

.primaryWay {
	wayColor: #EA6360;
	wayWidth: 8;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
	arrowColor: #000000;
}
.motorwayWay {
	wayColor: #455E93;
	wayWidth: 10;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
	arrowColor: #666666;
}
.trunkWay {
	wayColor: #71C296;
	wayWidth: 8;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
}
.secondaryWay {
	wayColor: #F8D363;
	wayWidth: 4;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
	arrowColor: #FFFFFF;
}
.tertiaryWay {
	wayColor: #A599C5;
	wayWidth: 4;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
}
.unclassifiedWay {
	wayColor: #FFFFFF;
	wayWidth: 4;
	wayBorderColor: #404040;
	wayBorderWidth: 1;
}
.residentialWay {
	wayColor: #FFFFFF;
	wayWidth: 4;
	wayBorderColor: #CC6461;
	wayBorderWidth: 1;
}
.cyclewayWay {
	wayColor: #AAD58B;
	wayWidth: 6;
}
.pedestrianWay {
	wayColor: #a19d99;
	wayWidth: 6;
}
.livingStreetWay {
	wayColor: #49B72D;
	wayWidth: 6;
}
.serviceWay {
	wayColor: #F4D4E1;
	wayWidth: 4;
	wayBorderColor: #A19D99;
	wayBorderWidth: 1;
}
.highwayTrackWay {
	wayColor: #A599C5;
	wayWidth: 4;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
}
.busGuidewayWay {
	wayColor: #F5D400;
	wayWidth: 4;
}

/* Cycleways */

.trackWay {
	wayColor: #8ECBF0;
	wayWidth: 4;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
	wayAlpha: 1;
	dashWidth: 4;
	gapWidth: 4;
}

/* Railways */

.railWay {
	wayWidth: 4;
	wayAlpha: 0;
	wayBorderColor: #000000;
	wayBorderWidth: 3;
}
.tramWay {
	wayWidth: 4;
	wayAlpha: 0;
	wayBorderColor: #000000;
	wayBorderWidth: 1;
}
.monorailWay {
	wayColor: #000000;
	wayWidth: 4;
	wayAlpha: 1;
	wayBorderColor: #D6D2CF;
	wayBorderWidth: 3;
}

.bridlewayWay {
	wayWidth: 3;
	wayColor: #666600;
}